---
import Layout from "../components/Layout.astro";
---

<Layout title='Acerca de'>
    <div class="py-40 mx-auto w-full h-screen p-20">
        <div class="flex justify-center flex-col gap-4">
            <h1 class="text-2xl md:text-5xl">Hola otra vez</h1>
            <p class="text-lg">Actualmente está página se encuentra en construcción, vuelve a revisar en un par de días</p>
        </div>
        
        <p></p>
        <p></p>
        <p></p>
    </div>
</Layout>