---
import PortfolioLayout from "../components/portfolioLayout.astro";
---

<PortfolioLayout title='Acerca de'>
    <div class="py-20 mx-auto w-full">
        <div class="flex justify-center">
            <img width="400px" src="tools.png" alt="Imagen">
            <h1>Hola otra vez, <br> soy Fernando</h1>
        </div>
        
    </div>
</PortfolioLayout>