---
import Layout from '../components/Layout.astro'

---

<Layout title='Homepage'>
		<section id="home" class="banner">
			<div class="textBox flex flex-col gap-2  w-full ml-20">
				<h1 class="text-5xl font-semibold">Hola, soy <br> <span class="text-6xl font-bold">Fernando Urzúa</span></h1>
				<h3 class="text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, veritatis.</h3>
				<a href="#" class="btn text-2xl mt-4 w-fit" >Call to action</a>
			</div>
	
		</section>
		<section id="about">
			<div>
				<h2>About me</h2>
			</div>
		</section>
</Layout>

<style>
	.banner{
		position: relative;
		min-height: 90vh;
		background: url('banner.jpg');
		background-size: cover;
		background-position: right;
		display: flex;
		justify-content: center;
		align-items: center;
		color:white;
	}
	.btn{
		position: relative;
		background: #2196f3;
		padding: 16px 32px;
	}
</style>