---
import Layout from '../components/Layout.astro'
import Tecnologias from '../components/Tecnologias.astro';
import Trabajos from '../components/Trabajos.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title='Homepage'>
		<section id="home" class="banner bg-emerald-700 relative flex flex-col md:flex-row items-center justify-center text-white w-full gap-0 md:gap-8 overflow-hidden ">
			<div class="textBox flex flex-col gap-4 p-8 mt-10">
				<h1 class="text-2xl  md:text-5xl font-semibold">Hola, soy <br> <span class="text-3xl md:text-6xl font-bold">Fernando Urzúa</span></h1>
				<h3 class="text-lg md:text-xl font-medium ">Desarrollador y diseñador de aplicaciones web, enfocado en elevar la visibilidad online de pequeñas y medianas empresas</h3>
				<a href="/contact" class="rounded btn md:text-2xl mt-4 w-full text-center md:w-fit" >Contactame</a>
			</div>
			<img src="landing.png" alt="joven sentado con una laptop" loading="lazy" class="md:w-96 w-9/12 m-2 rounded-full shadow-emerald-900 shadow-2xl" />
		</section>
		<Tecnologias />
		<Trabajos />
		<Contacto />
	</Layout>

<style>
	.banner{
		min-height: 95vh;

	}
	h3{
		max-width: 50ch;
	}
	

	.btn{
		position: relative;
		padding: 16px 36px;
		transition: .3s ease;
		background: #684c44;

	}
	.btn:hover{
		background: #533d37;
		transition: .3s ease;
	}
</style>