---
import Layout from '../components/Layout.astro'
import Tecnologias from '../components/Tecnologias.astro';
import Trabajos from '../components/Trabajos.astro';

---

<Layout title='Homepage'>
		<section id="home" class="banner">
			<div class="textBox flex flex-col gap-2  w-full ">
				<h1 class="text-2xl  md:text-5xl font-semibold">Hola, soy <br> <span class="text-3xl md:text-6xl font-bold">Fernando Urzúa</span></h1>
				<h3 class="text-lg md:text-xl font-medium ">Desarrollador y diseñador de aplicaciones web, enfocado en acercar la web a pequeñas y medianas empresas</h3>
				<a href="#" class="btn md:text-2xl mt-4 w-fit" >Contactame</a>
			</div>
	
		</section>
		<Tecnologias />
		<Trabajos />
	</Layout>

<style>
	.banner{
		margin-left: -11px;
		margin-right: -2px;
		position: relative;
		min-height: 95vh;
		background: url('fondo2.png');
		background-size: cover;
		background-position: right;
		display: flex;
		justify-content: center;
		align-items: center;
		color:white;
	}
	h3{
		min-width: 30ch;
		max-width: 50ch;
	}
	.textBox{
		padding: calc(5rem + 11px);
	}
	@media (max-width:900px) {
		.textBox{
			padding: calc(2rem + 11px);
		}
		.banner{
			background-image: url('fondo1.png');
		}
	}	
	
	.btn{
		position: relative;
		border: 2px solid #2aea7d;
		padding: 16px 32px;
		transition: .3s ease;
	}
	.btn:hover{
		background: #2aea7d;
		transition: .3s ease;
	}
</style>