---
import Layout from "../components/Layout.astro";
import Contacto from "../components/Contacto2.astro";
import Servicios from "../components/Servicios.astro";
import Tecnologias from "../components/Tecnologias.astro";

import landing_img from "../assets/landing.webp";
import { Image } from "astro:assets";
---

<Layout title="Homepage">
	<section
		id="home"
		class="banner relative flex flex-col md:flex-row items-center justify-center text-white w-full gap-4 md:gap-8 overflow-hidden md:p-20 p-8 bg-horizonAnimated bg-cover bg-scroll bg-center bg-no-repeat"
	>
		<div class=" flex flex-col gap-4 mt-10 z-10">
			<h1 class="text-4xl md:text-5xl font-semibold">
				Hola, soy <br />
				<span class=" text-5xl lg:text-7xl font-bold"
					>Fernando Urzúa</span
				>
			</h1>
			<h2 class=" md:text-3xl text-2xl font-medium text-[#2563EB]">
				Fullstack
			</h2>
			<p class="text-base md:text-xl font-medium ">
				Desarrollador y diseñador de aplicaciones web responsivas e impresionantes.
			</p>
			<a
				href="#contacto"
				class="rounded btn md:text-2xl mt-4 w-full text-center sm:w-fit"
				>Contactame</a
			>
		</div>
		<!-- <Image
			loading="eager"
			quality={"mid"}
			src={landing_img}
			alt="imagen sentado con una laptop"
			class="z-10 lg:w-96 lg:visible w-1 invisible m-2 rounded-full shadow-emerald-900 md:shadow-2xl"
		/> -->
		
	</section>

	<Servicios />
	<Tecnologias />
	<Contacto />
</Layout>

<style>
	.banner {
		min-height: 90vh;
	}
	.banner::before {
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	h2 {
		max-width: 50ch;
	}

	.bigfs{
		font-size: 14rem;
	}
	.btn {
		position: relative;
		padding: 16px 36px;
		transition: 0.3s ease;
		background: #2563EB;
		color: white;
		border-radius: 20px;
	}
	.btn:hover {
		background: #2563EB;
		transition: 0.3s ease;
	}
	
	#home::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; /* Altura del blur */
  background: linear-gradient(to bottom, rgba(14, 20, 27, 0.473) 0%, rgba(14, 20, 27, 1) 100%);
  pointer-events: none; /* Asegura que no interfiera con el contenido */
}

</style>
