---
import Layout from "../components/Layout.astro";
---
<Layout title="Gracias">
    <div class="h-screen pt-20 text-white p-8 md:p-20 flex flex-col w-screen items-center">
        <h1 class="text-3xl md:text-5xl font-medium md:pt-20">¡Gracias por ponerte en contacto!</h1>
        <a href="/" class="text-lg md:text-xl mt-8 underline cursor-pointer">volver a la página principal</a>
    </div>
</Layout>