---
import Layout from "../components/Layout.astro";
---
<Layout title="Gracias">
    <div class="h-screen bg-emerald-700 pt-20 text-white p-8 md:p-20 flex flex-col">
        <h1 class="text-3xl md:text-5xl font-medium md:pt-20">¡Gracias por ponerte en contacto!</h1>
        <p class="text-lg md:text-xl pt-8">Puedes volver a la página principal clickeando <a href="/" class="underline" >aquí</a></p>
    </div>
</Layout>