
<section id="contacto" class=" bg-white text-black pb-40">
<div class="p-20 m-auto">
        <h2 class="text-3xl font-semibold text-center">Contacto</h2>
  </div>
  <address class="shadow-lg w-5/6 p-8 md:p-20 m-auto flex flex-col-reverse md:flex-row justify-center items-center text-center gap-8">
    <div class="flex flex-col gap-4 ">
        <div class="flex flex-col" >
            <h4>Enviame un correo: </h4>
            <p>urzua.fernando.f@gmail.com</p>
        </div>
        <div class="flex flex-col">
            <h4>Encuentrame en github: </h4>
            <a class="p-2 btn rounded" href="https://github.com/Notand105" target="_blank">Notand105</a>
        </div>
    </div>
    <img class="w-40" src="https://www.iconpacks.net/icons/2/free-contact-icon-3018-thumb.png" alt="imagen de contacto">

  </address>
</section>
<style>
    .btn{
		position: relative;
		border: 2px solid #2aea7d;
		padding: 16px 32px;
		transition: .3s ease;
	}
	.btn:hover{
		background: #2aea7d;
		transition: .3s ease;
	}
    
</style>