---
const EMAIL = 'https://formsubmit.co/e14c7a3d088692c992427c4845980ed9'
---

    <section id="contacto" class="w-full mx-auto px-4 flex flex-col justify-center items-center">
        <div class="p-10 m-auto">
            <h2 class="text-3xl md:text-5xl text-white font-semibold text-center">Contacto</h2>
        </div>
        <form action={EMAIL} method="POST" class="flex flex-col justify-center gap-8 text-center items-center w-full p-10 rounded-lg shadow-2xl bg-gray-800 lg:max-w-2xl shadow-black/50" >

            <h3 class="md:text-2xl text-xl font-semibold text-white">Enviame un mensaje</h3>
            <div class="w-11/12 ">
                <p class="text-left" >Nombre</p>
                <input class="p-4 w-full bg-[#0E141B] " type="text" name="name" placeholder="ingresa tu nombre" required />
            </div>
            <div class="w-11/12 ">
                <p class="text-left" >Email</p>
                <input class="p-4 w-full bg-[#0E141B]" type="email" name="email" placeholder="ingresa tu correo electronico" required />
            </div>
            <div class="w-11/12 ">
                <p class="text-left" >Mensaje</p>
                <textarea class=" p-4 w-full bg-[#0E141B]" name="message" placeholder="¿Cómo puedo ayudarte?" required/>
            </div>
            <input type="hidden" name="_next" value="https://fernandourzua.com/thanks">
            <button class="btn w-11/12 " type="submit">Enviar mensaje</button>
        </form>
        <address class="rounded-3xl bg-[] w-5/6 p-8 md:p-20 m-auto flex flex-col-reverse md:flex-row justify-center items-center text-center gap-8">
    <div class="flex flex-col gap-4 ">
        <div class="flex flex-col md:flex-row gap-2">
            <h4>Encuentrame en github: </h4>
            <a class="text-[#2563EB]" href="https://github.com/urzuaf" target="_blank">https://github.com/urzuaf</a>
        </div>
    </div>

  </address>
    </section>

<style>
    input, textarea{
        border: 0;
        margin: 10px 0;
        padding: 20px;
        outline:none;
        font-size: 16px;
        border-radius: 8px;
        color: white;

    }
    .btn {
		position: relative;
        color: white;
		padding: 16px 36px;
		transition: 0.3s ease;
		background: #2563EB;
		border-radius: 8px;
	}
	.btn:hover {
		background: #2563EB;
		transition: 0.3s ease;
	}
</style>