---
type link = {
  name: string;
  url: string;
};

let navbar: link[] = [
  {
    name: "home",
    url: "/",
  },
  {
    name: "Proyectos",
    url: "/portfolio",
  },

  {
    name: "AcercaDe",
    url: "/about",
  },
  
];
---
<footer class=" text-center md:text-left">

  <section class=" text-white mt-20 p-20 flex flex-col md:flex-row gap-8 md:gap-20 justify-around md:items-center">
    <div>
      <a href="/" class="text-2xl md:text-4xl font-bold">Fernando Urzúa</a>
    <p class=" text-md md:text-xl font-medium">Desarrollador de experiencias web</p>
  </div>
  <div >
    <ul id="normalnav" class="flex gap-4 justify-center" >
      {
        navbar.map((nav) => (
          <li>
            <a class="hover:underline text-md" href={nav.url}>
              {nav.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  
</section>
<div class="w-full mx-auto">
<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <span class=" block text-sm text-gray-500 text-center dark:text-gray-400 pb-8">© {new Date().getFullYear()}  All Rights Reserved.</span>

</div>

</footer>