---
interface Props {
  title: string;
}
const { title } = Astro.props;
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/logo.ico" /> -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta name="description" content="Desarrollador y diseñador de aplicaciones y páginas web, enfocado en elevar la visibilidad online de pequeñas y medianas empresas, ubicación:Chile">
    <meta name="keywords" content="HTML, CSS, JavaScript, Desarrollador web, Diseñador web, frontend, backend, desarrollador, paginas web, web page, web developer, web designer, Fernando Urzua, fernando urzua, Fernando Urzúa, chile, Chile">
    <meta name="author" content="Fernando Urzua">
    <title>Fernando Urzúa {"| " + title}</title>
  </head>
  <body class="scroll-smooth overflowX-hidden bg-[#0E141B] text-[#94A3B8]">
    <header class="relative">
      <Navbar />
    </header>
    <slot />
    <Footer />
  </body>
  <script>
    
  </script>
</html>

<style>

  * {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-seriff;
    box-sizing: border-box;
  }
  @font-face {
    font-display: swap;
  }
  .oposite {
    color: #121212;
    background-color: white;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    overflow-x: hidden;
  }
</style>
