---
type link = {
  name: string;
  url: string;
};

let navbar: link[] = [
  {
    name: "Proyectos",
    url: "/portfolio",
  },

  {
    name: "AcercaDe",
    url: "/about",
  },
];
---

<nav
  class="navbar w-screen fixed top-0 z-50 flex justify-between px-8 lg:px-40 bg-[#0E141B] py-4 md:py-6"
>
  <a href="/" class="font-bold text-lg md:text-2xl" id="logo">FURZUA</a>

  <div class="relative">

    <button id="toggleButton" class="md:hidden flex" onclick="toggleNavVisibility()">
      <img src="menu.svg" alt="menu" class="w-8">
    </button>
    <ul
    id="normalnav"
    class="md:gap-8 hidden  md:relative text-sm lg:text-base md:bg-transparent md:flex-row md:p-2 md:top-0 md:right-0 bg-[#1A2029] p-4 flex md:flex flex-col top-10 right-0 absolute gap-4 w-40  rounded-lg items-center "
    >
    {
      navbar.map((nav) => (
        <li class="hover:bg-gray-50 md:hover:bg-[#0E141B]">
          <a
            class="hover:text-[#2563EB] hover:underline text-md transition-all font-bold"
            href={nav.url}
            >
            {nav.name}
          </a>
        </li>
      ))
    }
  </ul>
  </div>
  <script>
    const navbar = document.querySelector(".navbar");
    const links = document.querySelector("#normalnav");
    document.getElementById("toggleButton").addEventListener("click", toggleNavVisibility);

    window.addEventListener("scroll", () => {
      if (window.scrollY > 0) {
        navbar.classList.add("scrolled");
      } else {
        navbar.classList.remove("scrolled");
      }
    });

    function toggleNavVisibility() {
      links.classList.toggle("hidden");
    }

  </script>
</nav>

<style>
  nav {
    transition: 0.5s ease;
    backdrop-filter: none;
  }

  .navbar.scrolled {
    backdrop-filter: blur(20px); /* Apply blur on scroll */
    background-color: rgba(
      14,
      20,
      27,
      0.6
    ); /* Update background for contrast */
  }

  .hidden1{
    display: none;
  }
</style>
