---
type link = {
  name: string;
  url: string;
};

let navbar: link[] = [
  {
    name: "home",
    url: "/",
  },
  {
    name: "tecnologias",
    url: "/tecnologias",
  },
  
  {
    name: "Acerca de",
    url: "/about",
  },
 
];
---

<nav
  class="fixed top-0 z-10 flex w-full justify-between px-8 md:px-20 py-4 mr-8 text-white bg-emerald-700  "
>
  <a href="/" class="font-bold text-lg md:text-2xl" id="logo">Fernando</a>
  <ul id="normalnav" class="hidden md:gap-8 md:flex-row md:relative py-2">
    {
      navbar.map((nav) => (
        <li >
          <a class="hover:underline text-md py-2" href={nav.url}>
            {nav.name}
          </a>
        </li>
      ))
    }
    <a class="text-md text-white py-2 px-3  rounded -translate-y-2 transition-all ctcbtn" href='/contact'>
           contacto</a>
  </ul>
  <button id="mobilebtn" class="btn z-10"
    ><span class="material-symbols-outlined"> menu</span></button
  >
  <ul
    id="mobilenav"
    class="absolute flex text-black bg-white flex-col top-0 left-full justify-center items-center w-screen h-screen gap-8"
  >
    {
      navbar.map((nav) => (
        <li>
          <a class="hover:underline text-lg mobilea" href={nav.url}>
            {nav.name}
          </a>
        </li>
      ))
    }
    <a class="hover:underline text-lg mobilea" href='/contact'>
            contacto</a>
  </ul>
</nav>

<style>
  nav {
    transition: 0.5s ease;
  }
  .btn {
    width: 30px;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
  #mobilenav{
    transition: .4s ease;
  }
  .ctcbtn{
		background: #684c44;
  }
  .ctcbtn:hover{
		background: #533d37;
  }
</style>
