---
interface Props {
  title: string;
}
const { title } = Astro.props;
import Footer from '../components/portfoliofooter.astro';
import Navbar from '../components/portfolionav.astro';
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fernando Urzua | {title}</title>
</head>
<body>
    <Navbar />
    <slot />
    <Footer />
</body>
</html>