---
import {Image} from 'astro:assets'
import seo_img from '../assets/res.webp'
import webdev_img from '../assets/webdev.webp'
import expla_img from '../assets/expla.webp'
import webdes_img from '../assets/webdes.webp'
---

<section id="tecnologias" class="pb-40 md:px-20 px-8 mx-auto flex flex-col justify-center items-center ">
    <div class="pt-10 m-auto">
        <h2 class="text-3xl md:text-5xl font-semibold text-center text-white">Servicios</h2>
    </div>
    <div class="w-full flex flex-wrap xl:flex-nowrap flex-col md:flex-row mx-auto md:px-20 md:pt-10  gap-10 pt-2 pb-20 items-baseline justify-center ">
        <div  class="flex-col flex items-center justify-center" >
        <Image src={webdev_img} alt="imagen desarrollo web" class='md:w-72 w-9/12 rounded-full my-8 shadow-lg' />        
           <h4 class="font-bold text-center text-xl  pb-4 text-white">🖥️ Desarrollo Web</h4> 
           <p class="pa text-center lg:text-left" >Desarrollo e implementación de aplicaciones web estáticas e interactivas, optimizando el rendimiento y garantizando la accesibilidad. Aplico las mejores prácticas de SEO y HTML semántico para mejorar la visibilidad y usabilidad del sitio.</p>
        </div >
        <div class="flex-col flex items-center justify-center md:translate-y-20">
        <Image src={webdes_img} alt="imagen diseño web" class='md:w-72 w-9/12 rounded-full my-8 shadow-lg' />        
           <h4 class="font-bold text-center text-xl  pb-4 text-white">🎨 Diseño UX/UI</h4> 
           <p class="pa text-center lg:text-left" > Desarrollaro de una interfaz intuitiva, moderna y visualmente atractiva. Se priorizará la experiencia del usuario, asegurando una navegación fluida y una estructura clara que facilite la interacción y mejore la satisfacción. </p>
        </div>
        <div class="flex-col flex items-center justify-center md:translate-y-40 " >
        <Image src={expla_img} alt="imagen guia a cliente" class='md:w-72 w-9/12 rounded-full my-8 shadow-lg ' />        
           <h4 class="font-bold text-center text-xl  pb-4 text-white">📊 Análisis de Datos</h4> 
           <p  class="pa text-center lg:text-left" > Procesamiento y exploración de datos para obtener información valiosa que impulse la toma de decisiones. Uso de técnicas de visualización, modelado estadístico y aprendizaje automático para identificar patrones y optimizar procesos.</p>
        </div>
    </div>
</section>

<style>
    .pa{
        max-width: 38ch;
    }
</style>