---
import Layout from "../../components/Layout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/portfolio/*.md')

  return posts.map(post => ({
    params: { 
      slug: post.frontmatter.name
    },
    props: {
      post,
      name : post.frontmatter.name,
      url : post.frontmatter.url,
      header: post.frontmatter.title,
      tools: post.frontmatter.herramientas
    },
  }))
}

const { Content } = Astro.props.post
const { url, header, tools} = Astro.props

//posts.filter(post => post.frontmatter.title === Astro.params);
---
  lel
 <Layout title={header}>
  <section class="mt-40 px-4 md:w-1/2 mx-auto flex flex-col gap-4">

    <h1 class="text-3xl md:text-5xl font-semibold text-white text-center">{header}</h1>
    <h2 class="text-[#2563eb] text-center text-xl">Herramientas : {tools}</h2>
    <article class="text-md/8 flex flex-col gap-4 my-4">
      <Content />
    </article>
    
    <a href={url} class="bg-[#2563eb] text-white rounded-lg p-4 text-center mb-4" target="_blank" >Ver en vivo</a>
    <a href={'/portfolio'} class="text-[#2563eb]">â† Volver a la lista</a>
  </section>
</Layout>
